{% extends "layout.html" %}
{% block content %}

<div class="content">
<div>
<form action="/add_reference" method="POST" class="textfield-form">
    <h1>Add inproceedings</h1>
    <label for="author">Author</label>
    <textarea id="author" name="author" rows="4"></textarea>

    <label for="title">Title</label>
    <textarea id="title" name="title" rows="4"></textarea>

    <label for="booktitle">Booktitle</label>
    <textarea id="booktitle" name="booktitle" rows="4"></textarea>

    <label for="series">Series</label>
    <textarea id="series" name="series" rows="4"></textarea>

    <label for="year">Year</label>
    <input type="number" name="year">

    <label for="pages">Pages</label>
    <input type="text" name="pages">
    
    <label for="publisher">Publisher</label>
    <input type="text" name="publisher">

    <label for="address">Address</label>
    <input type="text" name="address">
    <br>
    <div class = "buttons">
        <input type="hidden" name="source_type" value="inproceedings">
        <button type="submit" class="visible-button">Add</button>
    </div>
</form>
{% if session.get("register_error") %}
{{ session["register_error"] }}
{% endif %}
</div>

{% endblock %}
