{% extends "layout.html" %}
{% block content %}

<div class="content" id="articles">
    <h1>References in BibTeX form</h1>

    <form action="/view_sources" method="POST">
        <label for="view_format">Show references in format:</label>
        <br>
        <button type="submit" name="change_view_button" class="visible-button" value="Text">Text</button>
        <button type="submit" name="change_view_button" class="visible-button" value="BibTeX">BibTeX</button>
    </form>

    <h2>Articles</h2>

    {% if bibtex_articles is none %}
    <p>Error retrieving data from the database.</p>
    {% elif not bibtex_articles %}
    <p>You don't have any saved articles.</p>
    {% else %}

    
    {% for bibtex_article in bibtex_articles %}
    <div class="box">
        <div class="source">
        <pre>{{ bibtex_article[0]}}</pre><br>
        </div>

        <div class="buttons">
            <form method="post" action="/delete_article/{{ bibtex_article[1] }}">
                <button type="submit" class="disappearing-button">
                    Delete
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>


<div class="content" id="books">
    <h2>Books</h2>
    {% if bibtex_books is none %}
    <p>Error retrieving data from the database.</p>
    {% elif not bibtex_books %}
    <p>You don't have any saved books.</p>
    {% else %}

    {% for bibtex_book in bibtex_books %}
    <div class="box">
        <div class="source">
        <pre>{{ bibtex_book[0] }}</pre><br>
        </div>

        <div class="buttons">
            <form method="post" action="/delete_book/{{ bibtex_book[1] }}">
                <button type="submit" class="disappearing-button">
                    Delete
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="content" id="inproceedings">
    <h2>Inproceedings</h2>
    {% if bibtex_inproceedings is none %}
    <p>Error retrieving data from the database.</p>
    {% elif not bibtex_inproceedings %}
    <p>You don't have any saved inproceedings.</p>
    {% else %}

    {% for bibtex_inproceeding in bibtex_inproceedings %}
    <div class="box">
        <div class="source">
        <pre>{{ bibtex_inproceeding[0] }}</pre><br>
        </div>
        <div class="buttons">
        <form method="post" action="/delete_inproceeding/{{ bibtex_inproceeding[1]}}">
            <button type="submit" class="disappearing-button">
                Delete
            </button>
        </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
