{% extends "layout.html" %}
{% block content %}

<div class="content" id="content-beginning">
    <h1>References</h1>

    <p>Below is a list of the references you have saved.</p>

    <p>You can change the view format to BibTeX, or download your reference list as a .bib file.
    </p>

    <form action="/view_sources" method="POST">
        <button type="submit" name="change_view_button" class="visible-button" value="BibTeX">View as BibTeX</button>
    </form>
    <a href="/download_references" class="button-link"><button class="visible-button">Download File</button></a>
    
</div>

<div class="content" id="articles">
    <h2>Articles</h2>
    {% if articles is none %}
    <p>Error retrieving data from the database.</p>
    {% elif not articles %}
    <p>You don't have any saved articles.</p>
    {% else %}

    {% for article in articles %}
        
    <div class="box">
        <div class="source">
            Author:
            {{ article.article_author }}<br>
            Title:
            {{ article.article_title }}<br>
            Journal:
            {{ article.article_journal }}<br>
            Year:
            {{ article.article_year }}<br>
            Volume:
            {{ article.article_volume }}<br>
            Number:
            {{ article.article_number }}<br>
            Pages:
            {{ article.article_pages }}<br>
        </div>

        <div class="buttons">
            <form method="post" action="/delete_article/{{ article.id }}">
                <button type="submit" class="disappearing-button">
                    Delete
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>



<div class="content" id="books">
    <h2>Books</h2>
    {% if books is none %}
    <p>Error retrieving data from the database.</p>
    {% elif not books %}
    <p>You don't have any saved books.</p>
    {% else %}

    {% for book in books %}
    <div class="box">
        <div class="source">
        Author:
        {{ book.book_author }}<br>
        Title:
        {{ book.book_title }}<br>
        Publisher:
        {{ book.book_publisher }}<br>
        Address:
        {{ book.book_address }}<br>
        Year:
        {{ book.book_year }}<br>
        </div>
        <div class="buttons">
            <form method="post" action="/delete_book/{{ book.id }}">
                <button type="submit" class="disappearing-button">
                    Delete
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="content" id="inproceedings">
    <h2>Inproceedings</h2>
    {% if inproceedings is none %}
    <p>Error retrieving data from the database.</p>
    {% elif not inproceedings %}
    <p>You don't have any saved inproceedings.</p>
    {% else %}

    {% for inproceeding in inproceedings %}
    <div class="box">
        <div class="source">
        Author:
        {{ inproceeding.inproceedings_author }}<br>
        Title:
        {{ inproceeding.inproceedings_title }}<br>
        Booktitle:
        {{ inproceeding.inproceedings_booktitle }}<br>
        series:
        {{ inproceeding.inproceedings_series }}<br>
        Year:
        {{ inproceeding.inproceedings_year }}<br>
        Pages:
        {{ inproceeding.inproceedings_pages }}<br>
        Publisher:
        {{ inproceeding.inproceedings_publisher }}<br>
        Address:
        {{ inproceeding.inproceedings_address }}<br>
        </div>
        <div class="buttons">
        <form method="post" action="/delete_inproceeding/{{ inproceeding.id }}">
            <button type="submit" class="disappearing-button">
                Delete
            </button>
        </form>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="content" id="content-end">
</div>
{% endblock %}