{% extends "layout.html" %}
{% block content %}

<div class="content">

<form action="/login" method="POST">
    <h2>Login...</h2>
    {% with message = get_flashed_messages() %}
        {% if message %}
            {{ message[0] }}
        {% endif %}
    {% endwith %}
    <p>Username:<br>
    <input class="userform" type="text" name="username" rows="1" required></input></p>

    <p>Password:<br>
    <input class="userform" type="password" name="password" rows="1" required></input><br>
    <button type="submit" class="visible-button">Login</button>
</form>

<br>
<h2>... or 
<a href="/register" class="register-link">create a new account</a>
!</h2>
{% endblock %}