<!DOCTYPE html>
<html>
<body>

<form action="/register" method="POST">
    <h1> Register: </h1>

    <p>Username:<br>
    <input class="userform" maxlength="20" minlength="3" type="text" name="username" required></p>

    <p>Password:<br>
    <input class="userform" maxlength="20" type="password" name="password" required><br>
    <input class="input" type="submit" value="Register">
    </form>

    <a href="/login" ><button>Login Page</button></a>
    <a href="/"><button>Home</button></a>
</body>
</html>