<form action="/result" method="POST">
    <h1>Add reference</h1>
    Title
    <input type="text" name="title">
    <br>
    Author
    <input type="text" name="author">
    <br>
    Organization
    <input type="text" name="organization">
    <br>
    Year
    <input type="number" name="year">
    <br>
    Source Type
    <input type="text" name="source_type">
    <br>
    Doi
    <input type="text" name="doi">
    <br>
    Pages
    <input type="number" name="pages">
    <br>
    <button type="submit">
        Add reference
    </button>

</form>
