<form action="/" method="POST">
    <h1>Add article</h1>
    Author
    <input type="text" name="author">
    <br>
    Title
    <input type="text" name="title">
    <br>
    Journal
    <input type="text" name="journal">
    <br>
    Year
    <input type="number" name="year">
    <br>
    Volume
    <input type="text" name="volume">
    <br>
    Number
    <input type="text" name="number">
    <br>
    Pages
    <input type="text" name="pages">
    <br>
    <button type="submit">
        Add
    </button>
</form>
