<form action="/" method="POST">
    <h1>Add inproceedings</h1>
    Author
    <input type="text" name="author">
    <br>
    Title
    <input type="text" name="title">
    <br>
    Booktitle
    <input type="text" name="booktitle">
    <br>
    Series
    <input type="text" name="series">
    <br>
    Year
    <input type="number" name="year">
    <br>
    Pages
    <input type="text" name="pages">
    <br>
    Publisher
    <input type="text" name="publisher">
    <br>
    Address
    <input type="text" name="address">
    <br>
    <button type="submit">
        Add
    </button>
</form>
